# Dependencies
node_modules/

temp/

# Environment variables
.env*
!.env*.example

dist/
logs/
*.log
.DS_Store

/src/generated/prisma

# AI assistant / IDE config folders
.agents/
.windsurf/
.claude/*
!.claude/CLAUDE.md